<?php declare(strict_types=1);

namespace {{NAMESPACE}};

use Symfony\Component\EventDispatcher\EventSubscriberInterface;

class {{CLASSNAME}} implements EventSubscriberInterface
{
    public static function getSubscribedEvents(): array
    {
        return [
            // EventName::class => 'onEvent',
        ];
    }

    // public function onEvent(EventName $event): void
    // {
    //     // handle event
    // }
}
