<?php

declare(strict_types=1);

namespace {{NAMESPACE}};

use Shopware\Core\Framework\MessageQueue\ScheduledTask\ScheduledTask;

class {{CLASSNAME}} extends ScheduledTask
{
    public static function getTaskName(): string
    {
        return '{{TASKIDENTIFIER}}.task';
    }

    public static function getDefaultInterval(): int
    {
        return {{INTERVAL}};
    }
}