import template from './{{COMPONENT_ID}}.html.twig';

const { Component } = Shopware;

export default Component.register('{{COMPONENT_ID}}', {
    template,

    data() {
        return {

        };
    },

    computed: {

    },

    created() {

    },

    methods: {

    }
});
